<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROGETTO_S2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROGETTO_S2.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-personal">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/hotel-service-high-resolution-logo-transparent.png" alt="Logo" style="width:200px; height:40px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown ms-lg-auto">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Managment
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">
                                        <form id="logoutForm" asp-area="" asp-controller="Managment" asp-action="CercaPrenotazioni" method="post" class="form-inline">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Cerca prenotazioni con codice fiscale</button>
                                        </form>
                                    </li>
                                    <li class="dropdown-item">
                                        <form id="logoutForm" asp-area="" asp-controller="Managment" asp-action="CercaPrenotazioniByTipo" method="post" class="form-inline">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Cerca prenotazioni per tipo pensione</button>
                                        </form>
                                    </li>
                                    <li class="dropdown-item">
                                        <form id="CreatePersona" asp-area="" asp-controller="Home" asp-action="CreatePersona" method="post" class="form-inline">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Inserisci i dati del cliente</button>
                                        </form>
                                    </li>
                                    <li class="dropdown-item">
                                        <form id="ElencoPersone" asp-area="" asp-controller="Home" asp-action="ElencoPersone" method="post" class="form-inline">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Elenco clienti</button>
                                        </form>
                                    </li>
                                    <li class="dropdown-item">
                                        <form id="CreatePrenotazione" asp-area="" asp-controller="Home" asp-action="CreatePrenotazione" method="post" class="form-inline">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Inserisci la prenotazione</button>
                                        </form>
                                    </li>
                                    <li class="dropdown-item">
                                        <form id="ElencoPrenotazioni" asp-area="" asp-controller="Home" asp-action="ElencoPrenotazioni" method="post" class="form-inline">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Elenco prenotazioni</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
@*                             <li class="nav-item">
                                <form id="logoutForm" asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                    <button type="submit" class="">Logout</button>
                                </form>
                            </li> *@
                            <ul class="navbar-nav ms-lg-2">
                                <li class="nav-item">
                                    <a class="btn btn-outline-danger" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                           <div class="d-flex ms-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PROGETTO_S2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
