@{
    ViewData["Title"] = "Home Page";
}
<h1>Ricerca Prenotazione</h1>

<form asp-controller="Home" asp-action="CercaPrenotazioni" method="post">
    <div class="form-group">
        <label for="codiceFiscale">Codice Fiscale:</label>
        <input type="text" id="codiceFiscale" name="codiceFiscale" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Cerca Prenotazione</button>
</form>
