@model PROGETTO_S2.Models.PrenotazioneServizioAgg

<h2>Aggiungi Servizio Aggiuntivo</h2>

<form asp-action="AddServizioAgg" method="post">
    <div class="form-group">
        <label asp-for="IdServizioAgg" class="control-label">Servizio Aggiuntivo</label>
        <select asp-for="IdServizioAgg" class="form-control">
            <option value="1">WI-FI gratuito</option>
            <option value="2">Colazione inclusa</option>
            <option value="3">Piscina</option>
            <option value="4">Servizio in camera</option>
            <option value="5">Parcheggio gratuito</option>
        </select>
        <span asp-validation-for="IdServizioAgg" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data" class="control-label"></label>
        <input asp-for="Data" class="form-control" type="date" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantita" class="control-label"></label>
        <input asp-for="Quantita" class="form-control" />
        <span asp-validation-for="Quantita" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Prezzo" class="control-label">Prezzo (x quantità)</label>
        <input asp-for="Prezzo" class="form-control" />
        <span asp-validation-for="Prezzo" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="IdPrenotazione" />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Aggiungi Servizio</button>
        <a asp-controller="Home"asp-action="ElencoPrenotazioni" class="btn btn-secondary">Indietro</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}
