@model PROGETTO_S2.Models.PrenotazioneServizioAgg
@{
    var serviziAgg = ViewBag.serviziAgg as List<ServizioAgg>;
}

<h2>Aggiungi Servizio Aggiuntivo</h2>

<form asp-action="AddServizioAgg" method="post">
    <div class="form-group">
        <label asp-for="IdServizioAgg" class="control-label">Servizio Aggiuntivo</label>
        <select asp-for="IdServizioAgg" class="form-control">
            <option value="">Seleziona un servizio</option>
            @foreach (var s in serviziAgg)
            {
                <option value="@s.IdServizioAgg">@s.Descrizione</option>
            }

        </select>
        <span asp-validation-for="IdServizioAgg" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data" class="control-label"></label>
        <input asp-for="Data" class="form-control" type="date" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantita" class="control-label"></label>
        <input asp-for="Quantita" class="form-control" />
        <span asp-validation-for="Quantita" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Prezzo" class="control-label">Prezzo (x quantità)</label>
        <input asp-for="Prezzo" class="form-control" />
        <span asp-validation-for="Prezzo" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="IdPrenotazione" />

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Aggiungi Servizio</button>
        <a asp-controller="Home"asp-action="ElencoPrenotazioni" class="btn btn-secondary">Indietro</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}
