@{
    ViewData["Title"] = "Cerca Prenotazioni";
}


<div class="container border-personal p-4">
    <h2 class="font-personal">Cerca Prenotazioni</h2>
    <form id="RicercaBYCF" action="/Managment/Managment/CercaPrenotazioni" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group mb-4">
            <label class="mt-4 fst-italic" for="CF">Codice Fiscale</label>
            <input type="text" class="form-control" id="CF" name="CF" required />
        </div>
        <button type="submit" class="btn btn-personal">Cerca</button>
    </form>
</div>
